.contact_us {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    background: linear-gradient(to top, #fdfdfd 0%, #e6edf4 60%, #82bef6 90%, #80b9f7 100%);
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .contact_box1 {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8vmax;
  }
  
  .contact_box2 {
    height: 70%;
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact_heading {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 3vmax;
  }
  
  .input {
    width: 80%; 
    background-color: white;
    box-shadow: 5px 3px 8px black;
    border-radius: 10px;
  }
  
  #text_area {
    height: 40%;
    width: 80%; 
    box-shadow: 5px 3px 8px black;
    border-radius: 10px;
    font-size: 1.4vmax;
    color: black;
  }
  
  #text_area::placeholder {
    font-size: 1.4vmax;
    font-weight: 600;
  }
  
  #contact_image {
    height: auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 100px;
    position: relative;
  }
  
  #contactbutn {
    font-size: 1.4vmax;
    background-color: rgb(39, 39, 142);
    color: white;
    padding: 0.7vmax;
    width: 40%;
    font-weight: 700;
    border-radius: 50px;

  }
  #text_area{
 padding: 16px;
    
  }
  
  @media screen and (max-width: 768px) {
   .contact_us{
    margin-top: 20%;
   }
    .contact_box1 {
      margin-top: 5%;
      width: 80%;
margin-left: 10%;

    }
  
    .contact_box2 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    .contact_heading {
      font-size: 2.5vmax;
      top: 8%;
    }
  
    #text_area,
    .input {
      width: 90%;
    }

    
    
    #contact_image {
      margin-right: 0;
      left: 0;
    }
  }
  