.main_box{
    height: 30vh;
display: flex;
background-color: white;
box-shadow: 10px -5px 5px black;
}
.box_1{

flex: 1;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


}


.box_2{
    flex: 2;

}

.box_3{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


#image{
    height: 100px;
    mix-blend-mode: multiply;

}
.first_one{
height: 50%;
display: flex;
align-items: flex-end;

}
.first_one > ul  {
    display: flex;
    margin-bottom: 1vmax;
    font-size: 1.8vmax;
    gap: 10%;
    margin-left: 10%;
    font-family:Arial, Helvetica, sans-serif; 
    font-weight: 400;
    width: 100%;

}
.first_one >ul li:hover{
    color: blue;
    cursor: pointer;

    
}

.second_one{
    height: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.content_01 {
    width: 50%;
    display: flex;
    align-self: center;

}
.content_01 >ul{
    width: 100%;
    display: flex;
    font-size: 2vmax;
justify-content: flex-start;
gap: 10%;

}
.content_01 >ul li {
    height: 3vmax;
    width: 3vmax;
    display: flex;
    justify-content:center ;
    align-items: center;
  
}

.content_01 >ul li :hover{
  color:rgb(9, 220, 178);
  
}
.content_02{
    display: flex;
    justify-content: center;
    align-items: center;
}
#icon{
    font-size: 2.5vmax;
}

@media (max-width: 768px) {
#image{
height: 10vmax;
}
.content >h3{
    font-size: 1.8vmax;
}
.main_box{

    flex-direction: column;
}
.box_3 >h3{
    font-size: 1.8vmax;
}
.box_3{
flex-direction: row;
margin-top: 10px;
}
.content_02 > h3{
    font-size: 1.3vmax;
}
}