#transparent-pricing-section {
  background: linear-gradient(to bottom, #fdfdfd 0%, #cde4fb 60%,#73b8f8 90%, #80b9f7 100%);

  padding: 60px 20px;
  text-align: center;
}

.pricing-title h2 {
  font-size: 2.8em;
  color: #333;
  margin-bottom: 50px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.pricing-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-align: center;
  position: relative;
}

.pricing-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card-heading {
  font-size: 1.8em;
  color: #5c6bc0;
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.card-content h3 {
  font-size: 2.2em;
  color: #333;
  margin-bottom: 20px;
  font-weight: 700;
}

.card-content ul {
  text-align: left;
  font-size: 1em;
  color: #777;
  line-height: 1.8;
  padding-left: 20px;
}

.card-content ul li {
  margin-bottom: 10px;
  font-size: 1vmax;
}

.buttonbox {
  margin-top: 30px;
}

.pricing-button {
  background: linear-gradient(45deg, #5c6bc0, #3f51b5);
  color: white;
  padding: 18px 35px;
  font-size: 1.4em;
  border-radius: 50px;
  text-transform: capitalize;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  cursor: pointer;
}


.pricing-button:hover {
  background: linear-gradient(45deg, #3f51b5, #5c6bc0);
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.pricing-button:hover::before {
  opacity: 1;
}

#Call {
  text-decoration: none;
  color: white;
  display: block;
}

#Call:hover {
  color: white;
}

@media (max-width: 1024px) {
  .pricing-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .pricing-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .pricing-grid {
    grid-template-columns: 1fr;
  }

  .pricing-card {
    width: 90%;
    margin: 0 auto;
  }

  .card-heading {
    font-size: 1.6em;
  }

  .card-content h3 {
    font-size: 1.8em;
  }

  .pricing-button {
    font-size: 1.8em;
    padding: 15px 30px;
  }
}
